* {
    font-family: "Poppins", sans-serif;
}

.photo1 {
    width: 200px;
    height: 200px;
    position: relative;
}

.photo1 img {
    width: 485px;
    height: 485px;
    position: absolute;
    margin-top: 50%;
    left: 350%;
}

.text {
    text-align: center;
    margin-top: 420px;
    font-size: 1.5em;
}

.btn button {
    display:inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height:2.5em;
    border-radius: .5em;
    min-width: 100px;
    margin-left: 45px;
}

.btn {
    margin-left: 790px;
    margin-top: 35px;
    font-size: 1.5em;
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn button:hover {
    min-height: 3.5em;
    min-width: 110px;
    transition: ease-in-out .2s;
    cursor: pointer;
}