* {
    font-family: "Poppins", sans-serif;
    background-color: pink;
}

.happy-photo {
    width: 200px;
    height: 200px;
    position: relative;
}

.happy-photo img {
    width: 290px;
    height: 460px;
    position: absolute;
    margin-top: 70%;
    left: 400%;
    align-items: center;
}

.text {
    text-align: center;
    margin-top: 430px;
    font-size: 1.5em;
    color: black;
}

.btn button {
    display:inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height:2.5em;
    border-radius: .5em;
    min-width: 100px;
    margin-left: 45px;
}

.btn {
    margin-left: 850px;
    margin-top: 35px;
    font-size: 1.5em;
}

.btn a {
    text-decoration: none;
    color: black;
}

.btn button:hover {
    min-height: 3.5em;
    min-width: 110px;
    transition: ease-in-out .2s;
    cursor: pointer;
}
