* {
    font-family: "Poppins", sans-serif;
}

.sad-photo {
    width: 200px;
    height: 200px;
    position: relative;
}

.sad-photo img {
    width: 360px;
    height: 350px;
    position: absolute;
    margin-top: 70%;
    left: 400%;
    align-items: center;
}

.text {
    text-align: center;
    margin-right: 300px;
    margin-top: 399px;
    font-size: 1.5em;
}

.heart-photo {
    width: 200px;
    height: 200px;
    position: relative;
}

.heart-photo img {
    width: 450px;
    height: 150px;
    position: absolute;
    margin-top: -65%;
    left: 500%;
    align-items: center;
}

.btn button {
    display:inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 4em;
    border-radius: .5em;
    min-width: 250px;
    margin-left: 45px;
}

.btn {
    margin-left: 780px;
    margin-top: -150px;
    font-size: 1.5em;
}

.btn a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.btn button:hover {
    min-height: 4.5em;
    min-width: 270px;
    transition: ease-in-out .2s;
    cursor: pointer;
}
